

h1 {
    border: 1.5px solid #2968A3;
    padding: 8px 12px;
    border-radius:5px;
    background-image: linear-gradient(180deg, #FFFFFF, rgb(41,104,163)); /* blue */
    position: static;
}

h2 {
    color:white;
    padding: 6px 10px;
    border-radius:4px;
    display:fill;
    background-color:#2968A3;
    position: static;
}

blockquote {
  border: 1px groove gray;
  border-radius: 3px;
  background-color: rgb(255, 253, 208); */ #fffdd0, cream */
}

